<%= form_for @resto, :html => { :role => "form"} do |form|  %>
  <div class="form-group">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name%>
  </div>
  <div class="form-group">
    <%= form.label :description, 'Description' %>
    <%= form.text_field :description%>
  </div>
  <div class="form-group">
    <%= form.label :picture, 'Photo' %>
    <%= form.text_field :picture%>
  </div>
  <%= form.submit%>
<% end %>
